* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
:root[data-theme='light'] {
  --background-color: #ffffff;
  --text-color: #333333;
  --background: url('./assets/pagebg.jpg');
  /* other light theme variables */
}

:root[data-theme='dark'] {
  --background-color: #333333;
  --text-color: #ffffff;
  --background: url('./assets/pagebg.jpg');
  /* other dark theme variables */
}

#component.light {
  background-color: var(--background-color);
  color: var(--text-color);
  /* other light theme styles */
}

#component.dark {
  background-color: var(--background-color);
  color: var(--text-color);
  /* other dark theme styles */
}
